{% extends 'base.html' %}

{% block content %} 
{{ super() }} 

{% for cat, msg in get_flashed_messages(True) %}
    <div class="{{ cat }}">{{ msg }}</div>
{% endfor %} 

<form action="{{ url_for('register') }}" method="post">
    <p><label for="">Name: <input type="text" name="name" value="" required></label></p>
    <p><label for="">Email: <input type="text" name="email" value="" required></label></p>
    <p><label for="">Password: <input type="password" name="psw" value="" required></label></p>
    <p><label for="">Repeat password: <input type="password" name="psw2" value="" required></label></p>

    <p><input type="submit"value="Register"></p>   
    <p><a href="{{ url_for('login') }}">LogIn</a></p> 
</form>

{% endblock %} 


